<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "icon" href = 
"https://st2.depositphotos.com/1364916/7670/v/600/depositphotos_76706131-stock-illustration-logo-teamwork-hands.jpg" 
        type = "image/x-icon">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>ShareInf</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Add</h1>
        <p class="lead"><strong>Movies to see your playlist</strong> .</p>
        <hr>
        <!-- <p>
          Having trouble? <a href="">Contact us</a>
        </p> -->
        <p class="lead">
          <a class="btn btn-primary btn-sm" href="{% url 'index' %}" role="button">Continue to Movie Search</a>
        </p>
      </div>
</body>
</html>